.main_container .about {
    display: grid;
    grid-template-columns: auto auto; 
}
.about .main-left{
    margin-left: 10%;
}
.about .main-right{
    margin-left: 10%;
    margin-right: 10%;
    
}
.about .main-right h1{
    margin-top: 10%;
    font-weight: 500;
    font-size: 50px;
}
.about .main-right p{
    margin-top: 2%;
}
.about .main-right button{
    border: 1px solid black;
    width: 150px;
    height: 40px;
    margin-top: 5%;
}

.about_our_vision{
    margin: 8%;
    padding: 5%;
}

.about_our_vision img{
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 2%;
    margin:5% 5%;
}
.about_our_vision h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.about_our_vision .vision{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
} 
.about_our_vision .content{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 250px;  
    margin: 50px 10px; 
    padding: 5px;
    text-align: center;
}
.about_our_vision .content h3{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.content .centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.about_our_vision .content p{
    font-size: 15px;
    font-weight: 400;
    color: black;
}

