.blogspage{
    margin:17%;
    align-items: center;
}
.blogspage h1{
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
.blogs{
    display: flex;
    flex-direction:row;
}
.blogpage{
    margin : 10px
}