section.education *{
    z-index: 1;
}

section.education{
    background-image: url('../images/overlay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
}

@media screen and (max-width:912px){
    .container{
        flex-direction: column;
        padding-top: 30%;
        margin-left: 5%;
    }
    .heroImage{
        width: 100%;
    }
    .heroImage img{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    .content h2{
        font-size: 3em;
    }
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid red;
    margin-bottom: 5rem;
  }
  
  .marquee {
    display: flex;
    animation: marquee-scroll linear infinite alternate;
    animation-delay: 0s;
  }
  
  .customer {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  @keyframes marquee-scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-20%);
    }
  }
  