@media screen and (max-width: 912px) {
  .resetPassword {
    max-width: 60%;
  }
}

@media screen and (max-width: 420px) {
  .resetPassword {
    max-width: 100%;
  }
  .resetPassword > h2 {
    font-size: 1.5rem; /* 24px */
    line-height: 2rem;
  }
  .resetPassword > p {
    font-size: 1rem; /* 24px */
    line-height: 1.2rem;
  }
}
