@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 3px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #f97316;
    border-radius: 20px;
}

section{
    padding-top: 5rem;
}

.login-btn{
    text-transform: capitalize !important;
    margin-right: .5rem !important;
}

.download-btn:hover{
    background: rgba(0, 0, 0, 1) !important;
}

.dialog-box{
    backdrop-filter: blur(10px);
}
